<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "The Coolest Thing Ever" %></h1>
  <p>A cool and random thing that no one uses!</p>
</section>

<section class="row">
  <article class="column">
    <h3>
      Login <%= link "+", to: Routes.session_path(@conn, :new), class: "btn btn-success" %>
    </h3>
  </article>

  <article class="column">
    <h3>
      Create Account <%= link "+", to: Routes.user_path(@conn, :new), class: "btn btn-success" %>
    </h3>
  </article>
</section>
