<%= form_for @conn, @action, fn f -> %>

  <%= label f, :email %>
  <%= text_input f, :email %>
  <%= error_tag f, :email %>

  <%= label f, :password %>
  <%= text_input f, :password %>
  <%= error_tag f, :password %>

  <div>
    <%= submit "Entrar" %>
  </div>
<% end %>
